@font-face {
	font-family: 'zombieFont'; /*a name to be used later*/
	src: url('ufonts.com_zombie-guts.ttf'); /*URL to font*/
}

body {
	background-image: url("../img/HBG.gif");
	background-repeat: no-repeat;
	font-family: "zombieGuts";
}

header {
	display: block;
	text-align: center;
	font-size: 80px;
}


.gameStartScreen {
	background-color: rgba(133, 98, 135,.85);
	position: absolute;
    top: 0;
    bottom: 15%;
    left: 0;
    right: 0;
    width: 50%;
    height: 333px;
	margin: auto;
	border: ridge 10px rgb(47, 33, 55);
	border-radius: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 20%;
	grid-template-areas: "T T T"
						 "NG HTP E"
	
	
}
#title {
	grid-area: T;
	margin-top: 4%;
	color: #811F18;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
#game-start {
	grid-area: NG;
	border: ridge 10px rgb(47, 33, 55);
	border-radius: 5%;
	background-color: rgba(133, 98, 135,.85);
	font-family: "zombieGuts";
	margin: 0 2% 6px 2%;

}
#game-start:hover{
		background-color: #811F18;

}
#how-to-play {
	grid-area: HTP;
	border: ridge 10px rgb(47, 33, 55);
	border-radius: 5%;
	background-color: rgba(133, 98, 135,.85);
	font-family: "zombieGuts";
	margin: 0 2% 6px 2%;
}
#how-to-play:hover{
		background-color: #811F18;

}
#exit {
	grid-area: E;
	border: ridge 10px rgb(47, 33, 55);
	border-radius: 5%;
	background-color: rgba(133, 98, 135,.85);
	font-family: "zombieGuts";
	margin: 0 2% 6px 2%;
}
#exit:hover{
		background-color: #811F18;

}

.officeContainer {
	background-image: url(../img/HOffice.png);
	background-repeat: no-repeat;
	background-position: center;
	border: ridge 10px rgb(47, 33, 55);
	border-radius: 5%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height:666px;
	margin: auto;
	display: none;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 50px 1fr;
	grid-template-areas: "left head right"
						 "left D right"
}
#docsOff{
	grid-area: D;
	align-self: center;
	justify-self: center;
}
.headerOffice{
	grid-area: head;
	color: #811F18;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.sidebarLeftOffice {
	grid-area: left;
	border: ridge 5px rgb(47, 33, 55);
	background-color: rgba(133, 98, 135,.85);
	font-family: "zombieGuts";
	margin: 8% 0 8% 8%;
}
.sidebarLeftOffice * {
	border: ridge 2px rgb(47, 33, 55); 
}
.sidebarRightOffice {
	grid-area: right;
	border: ridge 5px rgb(47, 33, 55);
	background-color: rgba(133, 98, 135,.85);
	font-family: "zombieGuts";
	margin: 8% 8% 8% 0;
}
.sidebarRightOffice * {
	margin: 10px 0 10px 4px;
	border: ridge 2px rgb(47, 33, 55);
	border-radius: 5%;
	background-color: rgba(133, 98, 135,.85);
	font-family: "zombieGuts";
	height: 60px;
	width: 90%;
}
.sidebarRightOffice *:hover{
	background-color: #811F18;
}

/* #officeToMain {
	grid-area: ;
}
#officeToSurgery {
	grid-area: ;
} */
/* #officeToMain, #officeToSurgery {
	border: ridge 5px rgb(47, 33, 55);
	border-radius: 5%;
	background-color: rgba(133, 98, 135,.85);
	font-family: "zombieGuts";
} */

.gameContainer {
	background-image: url("../img/HOperatingRoom.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color:rgba(190, 224, 253, .7);
	border: ridge 10px rgb(123, 170, 214);
	border-radius: 5%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height:666px;
	margin: auto;
	display: none;
	grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "stats . . . . . . ."
						 ". . . . . . . ."
						 ". . startButton . rules . endButton ."
						 ". . . . . . . ."
						 ". patient patient patient . . . ."
						 ". patient patient patient player player . ."
						 ". . . . player player . ."
						 ". . . . . . . ."
}
.player {
	grid-area: player;
}
.patient {
	grid-area: patient;
}
.stats {
	grid-area: stats;
}
#game-end {
	grid-area: endButton;
	border: ridge 5px rgb(123, 170, 214);
	border-radius: 5%;
	background-color: rgba(190, 224, 253,.85);
	font-family: "zombieGuts";
	margin: 5px 5px 5px 2px;
}
#game-end:hover{
	background-color:#7BAAD6;
}
#gameStart {
	grid-area: startButton;
	border: ridge 5px rgb(123, 170, 214);
	border-radius: 5%;
	background-color: rgba(190, 224, 253,.85);
	font-family: "zombieGuts";
	margin: 5px 5px 5px 2px;
}
#gameStart:hover{
	background-color:#7BAAD6;
}
#gameRules {
	grid-area: rules;
	border: ridge 5px rgb(123, 170, 214);
	border-radius: 5%;
	background-color: rgba(190, 224, 253,.85);
	font-family: "zombieGuts";
	margin: 5px 5px 5px 2px;
}
#gameRules:hover{
	background-color:#7BAAD6;
}

.surgeryStats {
	display: none;
	height: 20px;
	width: 100%;
	margin: 0;
	text-align: center;
}
.surgStat {
	display: inline-block;
	height: 25px;
	width: 75%;
	text-align: center;
}


.gameInstructions {
	background-color: rgba(133, 98, 135,.85);
	position: absolute;
    top: 0;
    bottom: 15%;
    left: 0;
    right: 0;
    width: 50%;
    height: 333px;
	margin: auto;
	border: ridge 10px rgb(47, 33, 55);
	border-radius: 5%;
	display: none;
	align-content: center;
  	justify-content: center;
}
.instructionsButton {
	border: ridge 2px rgb(47, 33, 55);
	border-radius: 5%;
	background-color: rgba(133, 98, 135,.85);
	font-family: "zombieGuts";
	justify-self: center;
}
#instructionButton {
	border: ridge 2px rgb(47, 33, 55);
	border-radius: 5%;
	background-color: rgba(133, 98, 135,.85);
	font-family: "zombieGuts";
	text-align: center;
}

.shopContainer {
	background-color: rgba(133, 98, 135,.85);
	position: absolute;
    top: 0;
    bottom: 15%;
    left: 0;
    right: 0;
    width: 50%;
    height: 400px;
	margin: auto;
	border: ridge 10px rgb(47, 33, 55);
	border-radius: 5%;
	display: none;
	text-align: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 50px;
	grid-template-areas: "item1 item2"
						 "item3 item4"
						 "exit exit"
}
.shopContainer * {
	border: ridge 2px rgb(47, 33, 55);
	border-radius: 5%;
	background-color: rgba(133, 98, 135,.85);
	font-family: "zombieGuts";
	margin: 5px;
}
#item1:hover, #item2:hover, #item3:hover, #item4:hover{
	background-color: #811F18;
}
.item1{
	grid-area: item1;
	margin: 0 auto;
	font-size: 12px;
	display: block;	
	width: 80%;
	
}
.item2{
	grid-area: item2;
	margin: 0 auto;
	font-size: 12px;
	width: 80%;
}
.item3{
	grid-area: item3;
	margin: 0 auto;
	font-size: 12px;
	width: 80%;
}
.item4{
	grid-area: item4;
	margin: 0 auto;
	font-size: 12px;
		width: 80%;

}
#exitShop {
	grid-area: exit;
	margin: 0 auto;
}
#exitShop:hover{
	background-color: #811F18;
}


canvas {
	border: 1px solid black;
	background-color: black;
	display: none;
	cursor: none;
}
#audios {
	display: none;
}
#mainSound {
	display: none;
}